.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sFCw1qGFAI .navbar-dropdown {
  position: relative !important;
}
.cid-sFCw1qGFAI .navbar-dropdown {
  position: absolute !important;
}
.cid-sFCw1qGFAI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFCw1qGFAI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFCw1qGFAI .dropdown-item:hover,
.cid-sFCw1qGFAI .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sFCw1qGFAI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFCw1qGFAI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFCw1qGFAI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFCw1qGFAI .nav-link {
  position: relative;
}
.cid-sFCw1qGFAI .container {
  display: flex;
  margin: auto;
}
.cid-sFCw1qGFAI .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown-menu,
.cid-sFCw1qGFAI .navbar.opened {
  background: #fff0b0 !important;
}
.cid-sFCw1qGFAI .nav-item:focus,
.cid-sFCw1qGFAI .nav-link:focus {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFCw1qGFAI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFCw1qGFAI .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #fff0b0;
}
.cid-sFCw1qGFAI .navbar.opened {
  transition: all 0.3s;
}
.cid-sFCw1qGFAI .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFCw1qGFAI .navbar .navbar-logo img {
  width: auto;
}
.cid-sFCw1qGFAI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar.collapsed {
  justify-content: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFCw1qGFAI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sFCw1qGFAI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFCw1qGFAI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFCw1qGFAI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFCw1qGFAI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFCw1qGFAI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFCw1qGFAI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFCw1qGFAI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFCw1qGFAI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFCw1qGFAI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFCw1qGFAI .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFCw1qGFAI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown-item.active,
.cid-sFCw1qGFAI .dropdown-item:active {
  background-color: transparent;
}
.cid-sFCw1qGFAI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff0b0;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFCw1qGFAI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFCw1qGFAI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFCw1qGFAI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFCw1qGFAI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sFCw1qGFAI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFCw1qGFAI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFCw1qGFAI .navbar {
    height: 70px;
  }
  .cid-sFCw1qGFAI .navbar.opened {
    height: auto;
  }
  .cid-sFCw1qGFAI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sFzxmVl7J6 {
  padding-top: 8rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-sFzxmVl7J6 .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-sFzxmVl7J6 .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sFzxmVl7J6 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sFzxmVl7J6 .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sFzxmVl7J6 .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sFzxmVl7J6 .mbr-text,
.cid-sFzxmVl7J6 .mbr-section-btn {
  color: #353535;
}
.cid-tigTEeNhdY {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff0b0;
}
.cid-tigTEeNhdY .line {
  background-color: #274572;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tigWSJ9u35 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tigWSJ9u35 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tigWSJ9u35 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tigWSJ9u35 .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tigWSJ9u35 .icon-box {
  background: #274572;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tigWSJ9u35 .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tigWSJ9u35 .card {
    margin-bottom: 2rem;
  }
  .cid-tigWSJ9u35 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tigTAJnSYm {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #fff0b0;
}
.cid-tigTAJnSYm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tigTAJnSYm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tigTAJnSYm ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tigTAJnSYm li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tigTAJnSYm ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tigV80Xq77 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #274572;
}
.cid-tigV80Xq77 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tigV80Xq77 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tigV80Xq77 .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tigV80Xq77 .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tigV80Xq77 .row {
    text-align: center;
  }
  .cid-tigV80Xq77 .row > div {
    margin: auto;
  }
  .cid-tigV80Xq77 .social-row {
    justify-content: center;
  }
}
.cid-tigV80Xq77 .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tigV80Xq77 .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tigV80Xq77 .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tigV80Xq77 .list {
    margin-bottom: 0rem;
  }
}
.cid-tigV80Xq77 .mbr-text {
  color: #bbbbbb;
}
.cid-tigV80Xq77 .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tigV80Xq77 .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tigV80Xq77 div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tigV80Xq77 H5 {
  text-align: left;
}
.cid-tih2omIt8b .navbar-dropdown {
  position: relative !important;
}
.cid-tih2omIt8b .navbar-dropdown {
  position: absolute !important;
}
.cid-tih2omIt8b .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2omIt8b .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tih2omIt8b .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tih2omIt8b .dropdown-item:hover,
.cid-tih2omIt8b .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-tih2omIt8b .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tih2omIt8b .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tih2omIt8b .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tih2omIt8b .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tih2omIt8b .nav-link {
  position: relative;
}
.cid-tih2omIt8b .container {
  display: flex;
  margin: auto;
}
.cid-tih2omIt8b .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tih2omIt8b .dropdown-menu,
.cid-tih2omIt8b .navbar.opened {
  background: #fff0b0 !important;
}
.cid-tih2omIt8b .nav-item:focus,
.cid-tih2omIt8b .nav-link:focus {
  outline: none;
}
.cid-tih2omIt8b .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tih2omIt8b .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tih2omIt8b .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tih2omIt8b .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2omIt8b .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tih2omIt8b .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tih2omIt8b .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #fff0b0;
}
.cid-tih2omIt8b .navbar.opened {
  transition: all 0.3s;
}
.cid-tih2omIt8b .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tih2omIt8b .navbar .navbar-logo img {
  width: auto;
}
.cid-tih2omIt8b .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tih2omIt8b .navbar.collapsed {
  justify-content: center;
}
.cid-tih2omIt8b .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tih2omIt8b .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tih2omIt8b .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tih2omIt8b .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tih2omIt8b .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tih2omIt8b .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tih2omIt8b .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tih2omIt8b .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tih2omIt8b .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tih2omIt8b .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tih2omIt8b .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tih2omIt8b .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tih2omIt8b .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tih2omIt8b .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tih2omIt8b .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tih2omIt8b .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tih2omIt8b .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tih2omIt8b .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tih2omIt8b .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tih2omIt8b .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tih2omIt8b .navbar.navbar-short {
  min-height: 60px;
}
.cid-tih2omIt8b .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tih2omIt8b .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tih2omIt8b .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tih2omIt8b .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tih2omIt8b .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tih2omIt8b .dropdown-item.active,
.cid-tih2omIt8b .dropdown-item:active {
  background-color: transparent;
}
.cid-tih2omIt8b .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tih2omIt8b .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tih2omIt8b .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tih2omIt8b .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff0b0;
}
.cid-tih2omIt8b .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tih2omIt8b .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tih2omIt8b ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tih2omIt8b .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tih2omIt8b button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tih2omIt8b button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tih2omIt8b button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tih2omIt8b button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2omIt8b button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2omIt8b button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tih2omIt8b nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2omIt8b nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tih2omIt8b nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tih2omIt8b nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2omIt8b .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tih2omIt8b a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tih2omIt8b .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tih2omIt8b .navbar {
    height: 70px;
  }
  .cid-tih2omIt8b .navbar.opened {
    height: auto;
  }
  .cid-tih2omIt8b .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tisk3kynYt {
  padding-top: 8rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tisk3kynYt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tisk3kynYt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tisk3kynYt .mbr-section-subtitle {
  text-align: center;
}
.cid-tisk5g5gMl {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #fff0b0;
}
.cid-tisk5g5gMl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tisk5g5gMl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tisk5g5gMl ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tisk5g5gMl li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tisk5g5gMl ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tisk5g5gMl .list {
  color: #274572;
}
.cid-tih2onEGg6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tih2onEGg6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2onEGg6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2onEGg6 ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tih2onEGg6 li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tih2onEGg6 ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tih2onEGg6 .list {
  color: #e43f3f;
}
.cid-tih2ooi5IX {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #274572;
}
.cid-tih2ooi5IX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2ooi5IX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2ooi5IX .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tih2ooi5IX .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tih2ooi5IX .row {
    text-align: center;
  }
  .cid-tih2ooi5IX .row > div {
    margin: auto;
  }
  .cid-tih2ooi5IX .social-row {
    justify-content: center;
  }
}
.cid-tih2ooi5IX .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tih2ooi5IX .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tih2ooi5IX .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih2ooi5IX .list {
    margin-bottom: 0rem;
  }
}
.cid-tih2ooi5IX .mbr-text {
  color: #bbbbbb;
}
.cid-tih2ooi5IX .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tih2ooi5IX .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tih2ooi5IX div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tih2ooi5IX H5 {
  text-align: left;
}
.cid-tih2liQqIl .navbar-dropdown {
  position: relative !important;
}
.cid-tih2liQqIl .navbar-dropdown {
  position: absolute !important;
}
.cid-tih2liQqIl .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2liQqIl .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tih2liQqIl .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tih2liQqIl .dropdown-item:hover,
.cid-tih2liQqIl .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-tih2liQqIl .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tih2liQqIl .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tih2liQqIl .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tih2liQqIl .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tih2liQqIl .nav-link {
  position: relative;
}
.cid-tih2liQqIl .container {
  display: flex;
  margin: auto;
}
.cid-tih2liQqIl .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tih2liQqIl .dropdown-menu,
.cid-tih2liQqIl .navbar.opened {
  background: #fff0b0 !important;
}
.cid-tih2liQqIl .nav-item:focus,
.cid-tih2liQqIl .nav-link:focus {
  outline: none;
}
.cid-tih2liQqIl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tih2liQqIl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tih2liQqIl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tih2liQqIl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2liQqIl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tih2liQqIl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tih2liQqIl .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #fff0b0;
}
.cid-tih2liQqIl .navbar.opened {
  transition: all 0.3s;
}
.cid-tih2liQqIl .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tih2liQqIl .navbar .navbar-logo img {
  width: auto;
}
.cid-tih2liQqIl .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tih2liQqIl .navbar.collapsed {
  justify-content: center;
}
.cid-tih2liQqIl .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tih2liQqIl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tih2liQqIl .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tih2liQqIl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tih2liQqIl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tih2liQqIl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tih2liQqIl .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tih2liQqIl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tih2liQqIl .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tih2liQqIl .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tih2liQqIl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tih2liQqIl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tih2liQqIl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tih2liQqIl .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tih2liQqIl .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tih2liQqIl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tih2liQqIl .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tih2liQqIl .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tih2liQqIl .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tih2liQqIl .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tih2liQqIl .navbar.navbar-short {
  min-height: 60px;
}
.cid-tih2liQqIl .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tih2liQqIl .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tih2liQqIl .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tih2liQqIl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tih2liQqIl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tih2liQqIl .dropdown-item.active,
.cid-tih2liQqIl .dropdown-item:active {
  background-color: transparent;
}
.cid-tih2liQqIl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tih2liQqIl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tih2liQqIl .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tih2liQqIl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff0b0;
}
.cid-tih2liQqIl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tih2liQqIl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tih2liQqIl ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tih2liQqIl .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tih2liQqIl button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tih2liQqIl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tih2liQqIl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tih2liQqIl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2liQqIl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2liQqIl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tih2liQqIl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2liQqIl nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tih2liQqIl nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tih2liQqIl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2liQqIl .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tih2liQqIl a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tih2liQqIl .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tih2liQqIl .navbar {
    height: 70px;
  }
  .cid-tih2liQqIl .navbar.opened {
    height: auto;
  }
  .cid-tih2liQqIl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tisgwIXs7z {
  padding-top: 8rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tisgwIXs7z .mbr-fallback-image.disabled {
  display: none;
}
.cid-tisgwIXs7z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2F56dB7 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tih2F56dB7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2F56dB7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tih2F56dB7 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tih2F56dB7 .row {
  flex-direction: row-reverse;
}
.cid-tih2F56dB7 img {
  width: 100%;
}
.cid-tih3tGhqfN {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff0b0;
}
.cid-tih3tGhqfN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih3tGhqfN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih3tGhqfN .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tih3tGhqfN .card-wrapper {
  background-color: #fff0b0;
  border-radius: 4px;
}
.cid-tih3tGhqfN .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tih3tGhqfN .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tih3tGhqfN .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tih3tGhqfN .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tih3tGhqfN .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tih3tGhqfN .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tih3tGhqfN .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih3tGhqfN .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tih4iZ1ohK {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff0b0;
}
.cid-tih4iZ1ohK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih4iZ1ohK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih4iZ1ohK .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tih4iZ1ohK .card-wrapper {
  background-color: #fff0b0;
  border-radius: 4px;
}
.cid-tih4iZ1ohK .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tih4iZ1ohK .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tih4iZ1ohK .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tih4iZ1ohK .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tih4iZ1ohK .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tih4iZ1ohK .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tih4iZ1ohK .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih4iZ1ohK .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tih4jznmwp {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff0b0;
}
.cid-tih4jznmwp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih4jznmwp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih4jznmwp .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tih4jznmwp .card-wrapper {
  background-color: #fff0b0;
  border-radius: 4px;
}
.cid-tih4jznmwp .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tih4jznmwp .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tih4jznmwp .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tih4jznmwp .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tih4jznmwp .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tih4jznmwp .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tih4jznmwp .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih4jznmwp .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tih4kOGZIc {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #fff0b0;
}
.cid-tih4kOGZIc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih4kOGZIc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih4kOGZIc .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tih4kOGZIc .card-wrapper {
  background-color: #fff0b0;
  border-radius: 4px;
}
.cid-tih4kOGZIc .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tih4kOGZIc .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tih4kOGZIc .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tih4kOGZIc .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tih4kOGZIc .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tih4kOGZIc .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tih4kOGZIc .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih4kOGZIc .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tih2lkv6lD {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #274572;
}
.cid-tih2lkv6lD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2lkv6lD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2lkv6lD .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tih2lkv6lD .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tih2lkv6lD .row {
    text-align: center;
  }
  .cid-tih2lkv6lD .row > div {
    margin: auto;
  }
  .cid-tih2lkv6lD .social-row {
    justify-content: center;
  }
}
.cid-tih2lkv6lD .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tih2lkv6lD .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tih2lkv6lD .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih2lkv6lD .list {
    margin-bottom: 0rem;
  }
}
.cid-tih2lkv6lD .mbr-text {
  color: #bbbbbb;
}
.cid-tih2lkv6lD .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tih2lkv6lD .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tih2lkv6lD div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tih2lkv6lD H5 {
  text-align: left;
}
.cid-tih2pZI3hO .navbar-dropdown {
  position: relative !important;
}
.cid-tih2pZI3hO .navbar-dropdown {
  position: absolute !important;
}
.cid-tih2pZI3hO .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2pZI3hO .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tih2pZI3hO .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tih2pZI3hO .dropdown-item:hover,
.cid-tih2pZI3hO .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-tih2pZI3hO .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tih2pZI3hO .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tih2pZI3hO .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tih2pZI3hO .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tih2pZI3hO .nav-link {
  position: relative;
}
.cid-tih2pZI3hO .container {
  display: flex;
  margin: auto;
}
.cid-tih2pZI3hO .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tih2pZI3hO .dropdown-menu,
.cid-tih2pZI3hO .navbar.opened {
  background: #fff0b0 !important;
}
.cid-tih2pZI3hO .nav-item:focus,
.cid-tih2pZI3hO .nav-link:focus {
  outline: none;
}
.cid-tih2pZI3hO .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tih2pZI3hO .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tih2pZI3hO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tih2pZI3hO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2pZI3hO .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tih2pZI3hO .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tih2pZI3hO .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #fff0b0;
}
.cid-tih2pZI3hO .navbar.opened {
  transition: all 0.3s;
}
.cid-tih2pZI3hO .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tih2pZI3hO .navbar .navbar-logo img {
  width: auto;
}
.cid-tih2pZI3hO .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tih2pZI3hO .navbar.collapsed {
  justify-content: center;
}
.cid-tih2pZI3hO .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tih2pZI3hO .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tih2pZI3hO .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tih2pZI3hO .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tih2pZI3hO .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tih2pZI3hO .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tih2pZI3hO .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tih2pZI3hO .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tih2pZI3hO .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tih2pZI3hO .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tih2pZI3hO .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tih2pZI3hO .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tih2pZI3hO .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tih2pZI3hO .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tih2pZI3hO .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tih2pZI3hO .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tih2pZI3hO .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tih2pZI3hO .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tih2pZI3hO .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tih2pZI3hO .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tih2pZI3hO .navbar.navbar-short {
  min-height: 60px;
}
.cid-tih2pZI3hO .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tih2pZI3hO .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tih2pZI3hO .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tih2pZI3hO .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tih2pZI3hO .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tih2pZI3hO .dropdown-item.active,
.cid-tih2pZI3hO .dropdown-item:active {
  background-color: transparent;
}
.cid-tih2pZI3hO .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tih2pZI3hO .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tih2pZI3hO .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tih2pZI3hO .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff0b0;
}
.cid-tih2pZI3hO .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tih2pZI3hO .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tih2pZI3hO ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tih2pZI3hO .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tih2pZI3hO button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tih2pZI3hO button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tih2pZI3hO button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tih2pZI3hO button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2pZI3hO button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2pZI3hO button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tih2pZI3hO nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2pZI3hO nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tih2pZI3hO nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tih2pZI3hO nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2pZI3hO .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tih2pZI3hO a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tih2pZI3hO .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tih2pZI3hO .navbar {
    height: 70px;
  }
  .cid-tih2pZI3hO .navbar.opened {
    height: auto;
  }
  .cid-tih2pZI3hO .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tjbuQ5tBGQ {
  padding-top: 8rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tjbuQ5tBGQ .mbr-section-subtitle {
  text-align: left;
}
.cid-tjbuQ5tBGQ .mbr-section-title {
  text-align: center;
}
.cid-tjbuQ5tBGQ .mbr-text {
  text-align: center;
}
.cid-tih2q0J4t6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff0b0;
}
.cid-tih2q0J4t6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2q0J4t6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2q0J4t6 ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tih2q0J4t6 li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tih2q0J4t6 ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tih2q1mvzb {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #274572;
}
.cid-tih2q1mvzb .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2q1mvzb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2q1mvzb .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tih2q1mvzb .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tih2q1mvzb .row {
    text-align: center;
  }
  .cid-tih2q1mvzb .row > div {
    margin: auto;
  }
  .cid-tih2q1mvzb .social-row {
    justify-content: center;
  }
}
.cid-tih2q1mvzb .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tih2q1mvzb .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tih2q1mvzb .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih2q1mvzb .list {
    margin-bottom: 0rem;
  }
}
.cid-tih2q1mvzb .mbr-text {
  color: #bbbbbb;
}
.cid-tih2q1mvzb .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tih2q1mvzb .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tih2q1mvzb div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tih2q1mvzb H5 {
  text-align: left;
}
.cid-tismyTTS3k {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tismyTTS3k .mbr-fallback-image.disabled {
  display: none;
}
.cid-tismyTTS3k .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tispsIrL2U {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tispsIrL2U .mbr-fallback-image.disabled {
  display: none;
}
.cid-tispsIrL2U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tispsIrL2U ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tispsIrL2U li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tispsIrL2U ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tispsIrL2U H3 {
  text-align: center;
}
.cid-tismg6RHN6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tismg6RHN6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tismg6RHN6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tismg6RHN6 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tismg6RHN6 .row {
  flex-direction: row-reverse;
}
.cid-tismg6RHN6 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tismg6RHN6 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tismhBHkHP {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tismhBHkHP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tismhBHkHP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tismhBHkHP .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tismhBHkHP img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tismhBHkHP .text-wrapper {
    padding: 2rem;
  }
}
.cid-tismfBQnJK {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tismfBQnJK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tismfBQnJK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tismfBQnJK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tismfBQnJK .row {
  flex-direction: row-reverse;
}
.cid-tismfBQnJK img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tismfBQnJK .text-wrapper {
    padding: 2rem;
  }
}
.cid-tih2rzVyLs .navbar-dropdown {
  position: relative !important;
}
.cid-tih2rzVyLs .navbar-dropdown {
  position: absolute !important;
}
.cid-tih2rzVyLs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2rzVyLs .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tih2rzVyLs .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tih2rzVyLs .dropdown-item:hover,
.cid-tih2rzVyLs .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-tih2rzVyLs .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tih2rzVyLs .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tih2rzVyLs .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tih2rzVyLs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tih2rzVyLs .nav-link {
  position: relative;
}
.cid-tih2rzVyLs .container {
  display: flex;
  margin: auto;
}
.cid-tih2rzVyLs .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tih2rzVyLs .dropdown-menu,
.cid-tih2rzVyLs .navbar.opened {
  background: #fff0b0 !important;
}
.cid-tih2rzVyLs .nav-item:focus,
.cid-tih2rzVyLs .nav-link:focus {
  outline: none;
}
.cid-tih2rzVyLs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tih2rzVyLs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tih2rzVyLs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tih2rzVyLs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tih2rzVyLs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tih2rzVyLs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tih2rzVyLs .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #fff0b0;
}
.cid-tih2rzVyLs .navbar.opened {
  transition: all 0.3s;
}
.cid-tih2rzVyLs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tih2rzVyLs .navbar .navbar-logo img {
  width: auto;
}
.cid-tih2rzVyLs .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tih2rzVyLs .navbar.collapsed {
  justify-content: center;
}
.cid-tih2rzVyLs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tih2rzVyLs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tih2rzVyLs .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tih2rzVyLs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tih2rzVyLs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tih2rzVyLs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tih2rzVyLs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tih2rzVyLs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tih2rzVyLs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tih2rzVyLs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tih2rzVyLs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tih2rzVyLs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tih2rzVyLs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tih2rzVyLs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tih2rzVyLs .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tih2rzVyLs .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tih2rzVyLs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tih2rzVyLs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tih2rzVyLs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tih2rzVyLs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tih2rzVyLs .navbar.navbar-short {
  min-height: 60px;
}
.cid-tih2rzVyLs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tih2rzVyLs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tih2rzVyLs .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tih2rzVyLs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tih2rzVyLs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tih2rzVyLs .dropdown-item.active,
.cid-tih2rzVyLs .dropdown-item:active {
  background-color: transparent;
}
.cid-tih2rzVyLs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tih2rzVyLs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tih2rzVyLs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tih2rzVyLs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff0b0;
}
.cid-tih2rzVyLs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tih2rzVyLs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tih2rzVyLs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tih2rzVyLs .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tih2rzVyLs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tih2rzVyLs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tih2rzVyLs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tih2rzVyLs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2rzVyLs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tih2rzVyLs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tih2rzVyLs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2rzVyLs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tih2rzVyLs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tih2rzVyLs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tih2rzVyLs .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tih2rzVyLs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tih2rzVyLs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tih2rzVyLs .navbar {
    height: 70px;
  }
  .cid-tih2rzVyLs .navbar.opened {
    height: auto;
  }
  .cid-tih2rzVyLs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tih2rBJCdA {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tih2rBJCdA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2rBJCdA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2rBJCdA ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tih2rBJCdA li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tih2rBJCdA ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tih2rBJCdA H3 {
  text-align: center;
}
.cid-tispVXvgpz {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tispVXvgpz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tispVXvgpz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tispVXvgpz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tispVXvgpz img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tispVXvgpz .text-wrapper {
    padding: 2rem;
  }
}
.cid-tih2rCU4Oj {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #274572;
}
.cid-tih2rCU4Oj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tih2rCU4Oj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tih2rCU4Oj .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tih2rCU4Oj .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tih2rCU4Oj .row {
    text-align: center;
  }
  .cid-tih2rCU4Oj .row > div {
    margin: auto;
  }
  .cid-tih2rCU4Oj .social-row {
    justify-content: center;
  }
}
.cid-tih2rCU4Oj .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tih2rCU4Oj .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tih2rCU4Oj .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tih2rCU4Oj .list {
    margin-bottom: 0rem;
  }
}
.cid-tih2rCU4Oj .mbr-text {
  color: #bbbbbb;
}
.cid-tih2rCU4Oj .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tih2rCU4Oj .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tih2rCU4Oj div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tih2rCU4Oj H5 {
  text-align: left;
}
